@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    min-width: 100vw;
    min-height: 100vh;
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.container .card {
    max-width: 300px;
    height: 350px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.container .card:hover {
    height: 450px;
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 250px;
    top: 0;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.container .card .content {
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: #070707;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s;
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
    }
}


#clients {
    padding: 60px 0;
}

.section-header h3 {
    font-size: 36px;
    color: rgb(5, 5, 5);
    text-align: center;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #090909;
    width: 50%;
}

#clients .clients-wrap {
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background:     #fff;
    height: 160px;
}

#clients .client-logo img {
    transition: all 0.4s ease-in-out;
    filter: grayscale(1);
    opacity: 0.6;
}

#clients .client-logo img:hover {
    filter: none;
    opacity: 1;
}